<div class="grid grid-cols-5 mx-auto gap-2">
  <%= guess_box(guess, :diet)      %>
  <%= guess_box(guess, :height)    %>
  <%= guess_box(guess, :weight)    %>
  <%= guess_box(guess, :lifespan)  %>
  <%= guess_box(guess, :gestation) %>
</div>
